# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies      
      run: dotnet restore ./MedievalEra.Server/MedievalEra.Server.csproj
    - name: Build server
      run: dotnet build ./MedievalEra.Server/MedievalEra.Server.csproj --no-restore
    - name: Build client
      run: npm run dev
      working-directory: ./medievalera.client
    - name: Test
      run: dotnet test ./MedievalEra.slnx --no-build --verbosity normal
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20' # или ваша версия
